hostname bchip528 ### version 8, and new board
 
udp_dstip 10.1.1.130
udp_srcip 10.1.1.93
udp_dstport 5050   ###
 
rx_hostname mpc2932:1995
#zmq processing
#rx_zmqip 10.1.1.144
#rx_zmqport 60003
#zmqip 129.129.202.97
zmqport 30002
 
#rx_zmqstream 1
 
frames 10
period 10 ms
#period 600us # for full speed, it needs two fiber connections, and configs for two ports (udp_dstport2, udp_srcip2, udp_dstip2, and numinterfaces)
exptime 10us
 
fpath /mnt/ssd/
fwrite 0
 
rx_jsonpara frameMode frame
rx_discardpolicy discardpartial
 
settings g2_lc_hg ### default gain
adcpipeline 18 ### accroding to the firmware and the scan results
adcphase 80 deg ### according to scanning results regarding the top to right 2D hist
powerchip 1
highvoltage 0
#readoutspeed full_speed ### to be characterized
readoutspeed half_speed
parallel 1 ##zero dead time
 
rx_arping 1 #To avoid flooding the 10gbe network
 
### https://slsdetectorgroup.github.io/devdoc/commandline.html#term-dac-dac-name-dac-or-mV-value-optional-unit-mV
dac vipre_cds 1200 ### 800 (default) - 1200 mV
